﻿﻿@model UTB.EShop.Web.Areas.Eshop.Models.CartViewModel

<h1 class="nadpis-h1-web">Košík</h1>

<div class="row">
	@if (Model.Cart.CartItems.Any())
	{
		<div class="col-xs-12">
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Název produktu</th>
						<th>Počet</th>
						<th>Cena / ks</th>
						<th>Cena celkem</th>
					</tr>
				</thead>
				<tfoot>
					<tr>
						<th>Total</th>
						<th></th>
						<th></th>
						<th>
							@Model.Cart.TotalPrice.ToString("C2")
						</th>
					</tr>
				</tfoot>
				<tbody>
					@foreach (var item in Model.Cart.CartItems)
					{
						<tr data-productid="@item.ProductID">
							<td>@item.Product.Name</td>
							<td>@Html.TextBox("Amount", item.Amount, new { type = "number", min = "0", @class = "amount" })</td>
							<td>@item.Product.Price.ToString("C2")</td>
							<td>@((item.Amount * item.Product.Price).ToString("C2"))</td>
						</tr>
					}
				</tbody>
			</table>
		</div>
		<div class="col-xs-12 text-left">
			<table class="table table-striped">
				<tr>
					<td class="text-left">
						@Html.ActionLink("Zpět", "Index", "Products", new { area = "Eshop" }, new { @class = "btn btn-primary" })
					</td>
					<td class="text-right">
						@Html.ActionLink("Další krok", "Step1", "Cart", new { area = "Eshop" }, new { @class = "btn btn-primary" })
					</td>
				</tr>
			</table>
		</div>
	}
	else
	{
		<div class="col-xs-12">
			<span>Váš košík je prázdný</span>
		</div>
	}
</div>

@section scripts {
	<script type="text/javascript">
		$(document).ready(function () {
			$('input.amount').change(function () {
				var $self = $(this),
					productID = $self.closest('tr').data('productid'),
					amount = parseInt($self.val());

				if (amount === 0) {
					deleteFromCart(productID);
				} else {
					changeAmountInCart(productID, amount);
				}
			});

			function deleteFromCart(productID) {
				$.ajax({
					url: '@Url.Action("RemoveFromCart", "Cart", new { area = "EShop" })',
					type: 'POST',
					data: { productID: productID },
					success: function() {
						location.reload();
					},
					error: function() {
						alert('Při mazání nastala chyba');
					}
				});
			}

			function changeAmountInCart(productID, amount) {
				$.ajax({
					url: '@Url.Action("AddToCart", "Cart", new { area = "EShop" })',
					type: 'POST',
					data: { productID: productID, amount: amount },
					success: function() {
						location.reload();
					},
					error: function() {
						alert('Chyba při změně kusů.');
					}
				});
			}
		});
	</script>
}