﻿﻿@model UTB.EShop.Web.Areas.Eshop.Models.CartViewModel

@{
	ViewBag.Title = "Step 2 (Payment & Delivery Options)";
}

<h1 class="nadpis-h1-web">Platba & Doprava</h1>

<div class="row">
	@using (Html.BeginForm("Step2", "Cart", new { area = "EShop" }, FormMethod.Post))
	{
		@Html.HiddenFor(m => m.CurrentStep)

		<div class="col-xs-12">
			<div class="form-group">
				@Html.LabelFor(m => m.Cart.PaymentID, "Platba", new { @class = "col-xs-3 control-label" })
				<div class="col-xs-9">
					@Html.DropDownListFor(m => m.Cart.PaymentID, Model.Payments, new { @class = "form-control" })
				</div>
			</div>
		</div>

		<div class="col-xs-12">
			<div class="form-group">
				@Html.LabelFor(m => m.Cart.DeliveryID, "Způsob doručení", new { @class = "col-xs-3 control-label" })
				<div class="col-xs-9">
					@Html.DropDownListFor(m => m.Cart.DeliveryID, Model.Deliveries, new { @class = "form-control" })
				</div>
			</div>
		</div>

		<div class="col-xs-12 text-left">
			<table class="table table-striped">
				<tr>
					<td class="text-left">
						@Html.ActionLink("Zpět", "Step1", "Cart", new { area = "Eshop" }, new { @class = "btn btn-primary" })
					</td>
					<td class="text-right">
						<button type="submit" class="btn btn-primary">Další krok</button>
					</td>
				</tr>
			</table>
		</div>
	}
</div>