﻿@using UTB.EShop.Core.Models.Addresses
@using UTB.EShop.Core.Models.Carts
﻿@model UTB.EShop.Web.Areas.Eshop.Models.CartViewModel

@{
	ViewBag.Title = "Step 1 - Addresses";
}

<h1 class="nadpis-h1-web">Adresy</h1>

<div class="row">
	@using (Html.BeginForm("Step1", "Cart", new { area = "EShop" }, FormMethod.Post))
	{
		@Html.HiddenFor(m => m.CurrentStep)

		<div class="col-xs-6">
			<h4>Billing Address</h4>

			<div class="form-group @(!ViewData.ModelState.IsValidField($"{nameof(Cart)}.{nameof(Cart.BillingAddress)}.{nameof(Address.FirstName)}") ? "has-error" : "")">
				@Html.LabelFor(m => m.Cart.BillingAddress.FirstName, "Jméno", new {@class = "col-xs-3 control-label required"})
				<div class="col-xs-9">
					@Html.TextBoxFor(m => m.Cart.BillingAddress.FirstName, new {@class = "form-control"})
					@Html.ValidationMessageFor(m => m.Cart.BillingAddress.FirstName)
				</div>
			</div>

			<div class="form-group @(!ViewData.ModelState.IsValidField($"{nameof(Cart)}.{nameof(Cart.BillingAddress)}.{nameof(Address.LastName)}") ? "has-error" : "")">
				@Html.LabelFor(m => m.Cart.BillingAddress.LastName, "Příjmení", new {@class = "col-xs-3 control-label"})
				<div class="col-xs-9">
					@Html.TextBoxFor(m => m.Cart.BillingAddress.LastName, new {@class = "form-control"})
					@Html.ValidationMessageFor(m => m.Cart.BillingAddress.LastName)
				</div>
			</div>

			<div class="form-group @(!ViewData.ModelState.IsValidField($"{nameof(Cart)}.{nameof(Cart.BillingAddress)}.{nameof(Address.Street)}") ? "has-error" : "")">
				@Html.LabelFor(m => m.Cart.BillingAddress.Street, "Ulice", new {@class = "col-xs-3 control-label"})
				<div class="col-xs-9">
					@Html.TextBoxFor(m => m.Cart.BillingAddress.Street, new {@class = "form-control"})
					@Html.ValidationMessageFor(m => m.Cart.BillingAddress.Street)
				</div>
			</div>

			<div class="form-group @(!ViewData.ModelState.IsValidField($"{nameof(Cart)}.{nameof(Cart.BillingAddress)}.{nameof(Address.StreetNo)}") ? "has-error" : "")">
				@Html.LabelFor(m => m.Cart.BillingAddress.StreetNo, "Číslo popisné", new {@class = "col-xs-3 control-label"})
				<div class="col-xs-9">
					@Html.TextBoxFor(m => m.Cart.BillingAddress.StreetNo, new {@class = "form-control"})
					@Html.ValidationMessageFor(m => m.Cart.BillingAddress.StreetNo)
				</div>
			</div>

			<div class="form-group @(!ViewData.ModelState.IsValidField($"{nameof(Cart)}.{nameof(Cart.BillingAddress)}.{nameof(Address.City)}") ? "has-error" : "")">
				@Html.LabelFor(m => m.Cart.BillingAddress.City, "Město", new {@class = "col-xs-3 control-label"})
				<div class="col-xs-9">
					@Html.TextBoxFor(m => m.Cart.BillingAddress.City, new {@class = "form-control"})
					@Html.ValidationMessageFor(m => m.Cart.BillingAddress.City)
				</div>
			</div>

			<div class="form-group @(!ViewData.ModelState.IsValidField($"{nameof(Cart)}.{nameof(Cart.BillingAddress)}.{nameof(Address.PostalCode)}") ? "has-error" : "")">
				@Html.LabelFor(m => m.Cart.BillingAddress.PostalCode, "PSČ", new {@class = "col-xs-3 control-label"})
				<div class="col-xs-9">
					@Html.TextBoxFor(m => m.Cart.BillingAddress.PostalCode, new {@class = "form-control"})
					@Html.ValidationMessageFor(m => m.Cart.BillingAddress.PostalCode)
				</div>
			</div>
		</div>

		<div class="col-xs-6">
			<h4>Delivery Address</h4>

			<div class="form-group @(!ViewData.ModelState.IsValidField($"{nameof(Cart)}.{nameof(Cart.ShippingAddress)}.{nameof(Address.FirstName)}") ? "has-error" : "")">
				@Html.LabelFor(m => m.Cart.ShippingAddress.FirstName, "Jméno", new {@class = "col-xs-3 control-label"})
				<div class="col-xs-9">
					@Html.TextBoxFor(m => m.Cart.ShippingAddress.FirstName, new {@class = "form-control"})
					@Html.ValidationMessageFor(m => m.Cart.ShippingAddress.FirstName)
				</div>
			</div>

			<div class="form-group @(!ViewData.ModelState.IsValidField($"{nameof(Cart)}.{nameof(Cart.ShippingAddress)}.{nameof(Address.LastName)}") ? "has-error" : "")">
				@Html.LabelFor(m => m.Cart.ShippingAddress.LastName, "Příjmení", new {@class = "col-xs-3 control-label"})
				<div class="col-xs-9">
					@Html.TextBoxFor(m => m.Cart.ShippingAddress.LastName, new { @class = "form-control" })
					@Html.ValidationMessageFor(m => m.Cart.ShippingAddress.LastName)
				</div>
			</div>

			<div class="form-group @(!ViewData.ModelState.IsValidField($"{nameof(Cart)}.{nameof(Cart.ShippingAddress)}.{nameof(Address.Street)}") ? "has-error" : "")">
				@Html.LabelFor(m => m.Cart.ShippingAddress.Street, "Ulice", new {@class = "col-xs-3 control-label"})
				<div class="col-xs-9">
					@Html.TextBoxFor(m => m.Cart.ShippingAddress.Street, new { @class = "form-control" })
					@Html.ValidationMessageFor(m => m.Cart.ShippingAddress.Street)
				</div>
			</div>

			<div class="form-group @(!ViewData.ModelState.IsValidField($"{nameof(Cart)}.{nameof(Cart.ShippingAddress)}.{nameof(Address.StreetNo)}") ? "has-error" : "")">
				@Html.LabelFor(m => m.Cart.ShippingAddress.StreetNo, "Číslo popisné", new {@class = "col-xs-3 control-label"})
				<div class="col-xs-9">
					@Html.TextBoxFor(m => m.Cart.ShippingAddress.StreetNo, new { @class = "form-control" })
					@Html.ValidationMessageFor(m => m.Cart.ShippingAddress.StreetNo)
				</div>
			</div>

			<div class="form-group @(!ViewData.ModelState.IsValidField($"{nameof(Cart)}.{nameof(Cart.ShippingAddress)}.{nameof(Address.City)}") ? "has-error" : "")">
				@Html.LabelFor(m => m.Cart.ShippingAddress.City, "Město", new {@class = "col-xs-3 control-label"})
				<div class="col-xs-9">
					@Html.TextBoxFor(m => m.Cart.ShippingAddress.City, new { @class = "form-control" })
					@Html.ValidationMessageFor(m => m.Cart.ShippingAddress.City)
				</div>
			</div>

			<div class="form-group @(!ViewData.ModelState.IsValidField($"{nameof(Cart)}.{nameof(Cart.ShippingAddress)}.{nameof(Address.PostalCode)}") ? "has-error" : "")">
				@Html.LabelFor(m => m.Cart.ShippingAddress.PostalCode, "PSČ", new {@class = "col-xs-3 control-label"})
				<div class="col-xs-9">
					@Html.TextBoxFor(m => m.Cart.ShippingAddress.PostalCode, new { @class = "form-control" })
					@Html.ValidationMessageFor(m => m.Cart.ShippingAddress.PostalCode)
				</div>
			</div>
		</div>

		<div class="col-xs-12 text-left">
			<table class="table table-striped">
				<tr>
					<td class="text-left">
						@Html.ActionLink("Zpět", "Index", "Cart", new { area = "Eshop" }, new { @class = "btn btn-primary" })
					</td>
					<td class="text-right">
						<button type="submit" class="btn btn-primary">Další krok</button>
					</td>
				</tr>
			</table>
		</div>
	}
</div>