﻿@using UTB.EShop.Web.Areas.Admin.Controllers
﻿@model UTB.EShop.Web.Areas.Eshop.Models.CartViewModel

@{
	ViewBag.Title = "Step 3 (Overview)";
}

<h1 class="nadpis-h1-web">Overview</h1>

<div class="row">
	@if (Model.Cart.UserTrackingCode.Any())
	{
		@Html.HiddenFor(m => m.CurrentStep)

		<div class="col-xs-6">
			<!-- Billing Address : BEGIN -->
			<h4>Billing Address</h4>

			<div class="form-group">
				@Html.LabelFor(m => m.Cart.BillingAddress.FirstName, "Jméno", new { @class = "col-xs-3 control-label" })
				<div class="col-xs-9">
					@Html.TextBoxFor(m => m.Cart.BillingAddress.FirstName, new { @class = "form-control", @readonly = "readonly" })
				</div>
			</div>

			<div class="form-group">
				@Html.LabelFor(m => m.Cart.BillingAddress.LastName, "Příjmení", new { @class = "col-xs-3 control-label" })
				<div class="col-xs-9">
					@Html.TextBoxFor(m => m.Cart.BillingAddress.LastName, new { @class = "form-control", @readonly = "readonly" })
				</div>
			</div>

			<div class="form-group">
				@Html.LabelFor(m => m.Cart.BillingAddress.Street, "Ulice", new { @class = "col-xs-3 control-label" })
				<div class="col-xs-9">
					@Html.TextBoxFor(m => m.Cart.BillingAddress.Street, new { @class = "form-control", @readonly = "readonly" })
				</div>
			</div>

			<div class="form-group">
				@Html.LabelFor(m => m.Cart.BillingAddress.StreetNo, "Číslo popisné", new { @class = "col-xs-3 control-label" })
				<div class="col-xs-9">
					@Html.TextBoxFor(m => m.Cart.BillingAddress.StreetNo, new { @class = "form-control", @readonly = "readonly" })
				</div>
			</div>

			<div class="form-group">
				@Html.LabelFor(m => m.Cart.BillingAddress.City, "Město", new { @class = "col-xs-3 control-label" })
				<div class="col-xs-9">
					@Html.TextBoxFor(m => m.Cart.BillingAddress.City, new { @class = "form-control", @readonly = "readonly" })
				</div>
			</div>

			<div class="form-group">
				@Html.LabelFor(m => m.Cart.BillingAddress.PostalCode, "PSČ", new { @class = "col-xs-3 control-label" })
				<div class="col-xs-9">
					@Html.TextBoxFor(m => m.Cart.BillingAddress.PostalCode, new { @class = "form-control", @readonly = "readonly" })
				</div>
			</div>
		</div>
		<!-- Billing Address : END -->

		<!-- Delivery Address : BEGIN -->
		<div class="col-xs-6">
			<h4>Delivery Address</h4>

			<div class="form-group">
				@Html.LabelFor(m => m.Cart.ShippingAddress.FirstName, "Jméno", new { @class = "col-xs-3 control-label" })
				<div class="col-xs-9">
					@Html.TextBoxFor(m => m.Cart.ShippingAddress.FirstName, new { @class = "form-control", @readonly = "readonly" })
				</div>
			</div>

			<div class="form-group">
				@Html.LabelFor(m => m.Cart.ShippingAddress.LastName, "Příjmení", new { @class = "col-xs-3 control-label" })
				<div class="col-xs-9">
					@Html.TextBoxFor(m => m.Cart.ShippingAddress.LastName, new { @class = "form-control", @readonly = "readonly" })
				</div>
			</div>

			<div class="form-group">
				@Html.LabelFor(m => m.Cart.ShippingAddress.Street, "Ulice", new { @class = "col-xs-3 control-label" })
				<div class="col-xs-9">
					@Html.TextBoxFor(m => m.Cart.ShippingAddress.Street, new { @class = "form-control", @readonly = "readonly" })
				</div>
			</div>

			<div class="form-group">
				@Html.LabelFor(m => m.Cart.ShippingAddress.StreetNo, "Číslo popisné", new { @class = "col-xs-3 control-label" })
				<div class="col-xs-9">
					@Html.TextBoxFor(m => m.Cart.ShippingAddress.StreetNo, new { @class = "form-control", @readonly = "readonly" })
				</div>
			</div>

			<div class="form-group">
				@Html.LabelFor(m => m.Cart.ShippingAddress.City, "Město", new { @class = "col-xs-3 control-label" })
				<div class="col-xs-9">
					@Html.TextBoxFor(m => m.Cart.ShippingAddress.City, new { @class = "form-control", @readonly = "readonly" })
				</div>
			</div>

			<div class="form-group">
				@Html.LabelFor(m => m.Cart.ShippingAddress.PostalCode, "PSČ", new { @class = "col-xs-3 control-label" })
				<div class="col-xs-9">
					@Html.TextBoxFor(m => m.Cart.ShippingAddress.PostalCode, new { @class = "form-control", @readonly = "readonly" })
				</div>
			</div>
		</div>
		<!-- Delivery Address : END -->

		<!-- Payment Method : BEGIN -->
		<div class="col-xs-6">
			<h4>Payment Method</h4>
			<div class="form-group">
				@Html.LabelFor(m => m.Cart.PaymentID, "Platba", new { @class = "col-xs-3 control-label" })
				<div class="col-xs-9">
					@Html.TextBoxFor(m => m.Payments.Where(p => p.Value == m.Cart.PaymentID.ToString()).First().Text, new { @class = "form-control", @readonly = "readonly" })
				</div>
			</div>
		</div>
		<!-- Payment Method : END -->

		<!-- Delivery Method : BEGIN -->
		<div class="col-xs-6">
			<h4>Delivery Method</h4>
			<div class="form-group">
				@Html.LabelFor(m => m.Cart.DeliveryID, "Způsob doručení", new { @class = "col-xs-3 control-label" })
				<div class="col-xs-9">
					@Html.TextBoxFor(m => m.Deliveries.Where(p => p.Value == m.Cart.DeliveryID.ToString()).First().Text, new { @class = "form-control", @readonly = "readonly" })

				</div>
			</div>
		</div>
		<!-- Delivery Method : END -->

		<!-- Cart : BEGIN -->
		<div class="col-xs-12">
			<h4>Products</h4>
			@if (Model.Cart.CartItems.Any())
			{
				<table class="table table-striped">
					<thead>
						<tr>
							<th>Název produktu</th>
							<th>Počet</th>
							<th>Cena / ks</th>
							<th>Cena celkem</th>
						</tr>
					</thead>
					<tfoot>
						<tr>
							<th>Total</th>
							<th></th>
							<th></th>
							<th>
								@Model.Cart.TotalPrice.ToString("C2")
							</th>
						</tr>
					</tfoot>
					<tbody>
						@foreach (var item in Model.Cart.CartItems)
						{
							<tr data-productid="@item.ProductID">
								<td>@item.Product.Name</td>
								<td>@item.Amount</td>
								<td>@item.Product.Price.ToString("C2")</td>
								<td>@((item.Amount * item.Product.Price).ToString("C2"))</td>
							</tr>
						}
					</tbody>
				</table>
			}
			else
			{
				<div class="col-xs-12">
					<span>Váš košík je prázdný</span>
				</div>
			}
		</div>

		<!-- LINKS : BEGIN -->
		<div class="col-xs-12 text-left">
			<table class="table table-striped">
				<tr>
					<td class="text-left">
						@Html.ActionLink("Zpět", "Step2", "Cart", new { area = "Eshop" }, new { @class = "btn btn-primary" })
					</td>
					@if (Model.Cart.CartItems.Any())
					{
						<td class="text-right">
							@Html.ActionLink("Objednat", "Create", "Order", new { area = "Eshop" }, new { @class = "btn btn-primary" })
						</td>
					}
					else
					{
						<td class="text-right">
							@Html.ActionLink("Objednat", "Create", "Order", new { area = "Eshop" }, new { @class = "btn btn-primary disabled" })
						</td>
					}
				</tr>
			</table>
		</div>
		<!-- LINKS : END -->
	}
	else
	{
		<span>Sorry nemam kosik.</span>
	}
</div>
