﻿@{
    ViewBag.Title = "Success";
}

<h2>Objednávka úspěšně vytvořena.</h2>
<p>Ačkoliv jste úspěšně vytvořil objednávku, nic to pro nás neznamená, až na pár záznamů v databázi, kterou i tak při dalším releasu smažeme. Vracet se nemusíte, zkušebních zákazníků máme dost.</p>