﻿﻿@model UTB.EShop.Web.Areas.Admin.Models.CategoryViewModel

@{
	ViewBag.Title = "Nová kategorie";
}

<div class="row">
	<div class="col-xs-12">
		@using (Html.BeginForm("Create", "Categories", new { area = "Admin" }, FormMethod.Post, new { @class = "form-horizontal" }))
		{
			<div class="form-group">
				@Html.LabelFor(m => m.Category.Name, "Jméno", new { @class = "col-xs-2 control-label" })
				<div class="col-xs-10">
					@Html.TextBoxFor(m => m.Category.Name, new { @class = "form-control" })
				</div>
			</div>
    
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<a class="btn btn-default" href="@Url.Action("Index", "Categories")">Zpět</a>
					<button type="submit" class="btn btn-primary">Uložit</button>
				</div>
			</div>
		}
	</div>
</div>