﻿@model UTB.EShop.Web.Areas.Admin.Models.CategoriesViewModel

@{
	ViewBag.Title = "Kategorie";
}

<div class="row">
	<div class="col-xs-12">
		<table class="table table-striped">
			<thead>
				<tr>
					<td>ID</td>
					<td>Název</td>
					<td></td>
					<td></td>
				</tr>
			</thead>
			<tbody>
				@foreach (var category in Model.Categories)
				{
					<tr>
						<td>
							<span>@category.CategoryID</span>
						</td>
						<td>
							<span>@category.Name</span>
						</td>
						<td>
							<a href="@Url.Action("Edit", "Categories", new {categoryID = category.CategoryID})">
								<i class="glyphicon glyphicon-edit"></i>
							</a>
						</td>
						<td>
							<a href="@Url.Action("Delete", "Categories", new {categoryID = category.CategoryID})">
								<i class="glyphicon glyphicon-remove"></i>
							</a>
						</td>
					</tr>
				}
			</tbody>
		</table>
	</div>
	<div class="col-xs-12">
		@Html.ActionLink("Přidat", "Create", "Categories", new { area = "Admin" }, new { @class = "btn btn-primary" })
	</div>
</div>