﻿@using UTB.EShop.Core.Models.Products
@using UTB.EShop.Web.Areas.Admin.Models
@model UTB.EShop.Web.Areas.Admin.Models.ProductViewModel

@{
	ViewBag.Title = "Nový produkt";
}

<div class="row">
	<div class="col-xs-12">
		@using (Html.BeginForm("Create", "Products", new { area = "Admin" }, FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data" }))
		{
			<div class="form-group @(!ViewData.ModelState.IsValidField($"{nameof(Product)}.{nameof(Product.Name)}") ? "has-error" : "")">
				@Html.LabelFor(m => m.Product.Name, "Jméno", new { @class = "col-xs-2 control-label" })
				<div class="col-xs-10">
					@Html.TextBoxFor(m => m.Product.Name, new { @class = "form-control" })
					@Html.ValidationMessageFor(m => m.Product.Name)
				</div>
			</div>

			<div class="form-group @(!ViewData.ModelState.IsValidField($"{nameof(Product)}.{nameof(Product.Price)}") ? "has-error" : "")">
				@Html.LabelFor(m => m.Product.Price, "Cena", new { @class = "col-xs-2 control-label" })
				<div class="col-xs-10">
					@Html.TextBoxFor(m => m.Product.Price, new { @class = "form-control" })
					@Html.ValidationMessageFor(m => m.Product.Price)
				</div>
			</div>

			<div class="form-group">
				@Html.LabelFor(m => m.Product.ImageUrl, "Obrázek", new { @class = "col-xs-2 control-label" })
				<div class="col-xs-10">
					@Html.TextBoxFor(m => m.Product.ImageUrl, new { type = "file", @class = "form-control", Name = $"{nameof(Model.Image)}" })
				</div>
			</div>

			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<a class="btn btn-default" href="@Url.Action("Index", "Products")">Zpět</a>
					<button type="submit" class="btn btn-primary">Uložit</button>
				</div>
			</div>
		}
	</div>
</div>