﻿@model UTB.EShop.Web.Areas.Admin.Models.ProductViewModel

@{
	ViewBag.Title = "Edit";
}

<div class="row">

	<ul class="nav nav-tabs">
		<li class="active">
			<a href="#product" data-toggle="tab">Product</a>
		</li>
		<li>
			<a href="#categories" data-toggle="tab">Category</a>
		</li>
	</ul>
	
	<div class="tab-content">
		<div id="product" class="tab-pane fade in active">
			@using (Html.BeginForm("Edit", "Products", new { area = "Admin" }, FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data" }))
			{
				@Html.HiddenFor(e => e.Product.ProductID)

				<div class="form-group">
					@Html.LabelFor(m => m.Product.Name, "Jméno", new { @class = "col-xs-2 control-label" })
					<div class="col-xs-10">
						@Html.TextBoxFor(m => m.Product.Name, new { @class = "form-control" })
					</div>
				</div>

				<div class="form-group">
					@Html.LabelFor(m => m.Product.Price, "Cena", new { @class = "col-xs-2 control-label" })
					<div class="col-xs-10">
						@Html.TextBoxFor(m => m.Product.Price, new { @class = "form-control" })
					</div>
				</div>

				<div class="form-group">
					@Html.LabelFor(m => m.Product.ImageUrl, "Obrázek", new { @class = "col-xs-2 control-label" })
					<div class="col-xs-10">
						<!-- @Html.TextBox("Product.ImageUrl", Model.Product.ImageUrl, new {@class = "form-control", type = "file"}) -->
						@Html.TextBoxFor(m => m.Product.ImageUrl, new { type = "file", @class = "form-control", Name = $"{nameof(Model.Image)}" })
					</div>
				</div>

				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-10">
						<a class="btn btn-primary" href="@Url.Action("Index", "Products")">Zpět</a>
						<button type="submit" class="btn btn-default">Uložit</button>
					</div>
				</div>
			}
		</div>

		<div id="categories" class="tab-pane fade">
			@using (Html.BeginForm("InsertOrRemoveCategories", "Products", new { area = "Admin" }, FormMethod.Post, new { @class = "form-horizontal" }))
			{
				@Html.HiddenFor(m => m.Product.ProductID)

				foreach (var category in Model.Categories.Select((c, i) => new { i, Model = c }))
				{
					@Html.Hidden($"Categories[{category.i}].CategoryID", category.Model.CategoryID)

					<div class="form-group">
						@Html.Label($"Categories[{category.i}].Name", category.Model.Name, new { @class = "col-xs-2 control-label" })
						<div class="col-xs-10">
							@Html.CheckBox($"Categories[{category.i}].IsSelected", category.Model.IsSelected)
						</div>
					</div>
				}

				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-10">
						<a class="btn btn-primary" href="@Url.Action("Index", "Products")">Zpět</a>
						<button type="submit" class="btn btn-default">Uložit</button>
					</div>
				</div>
			}
		</div>
	</div>
</div>