﻿@model UTB.EShop.Web.Areas.Admin.Models.ProductsViewModel

@{
	ViewBag.Title = "Index";
}

<div class="row">
	<div class="col-xs-12">
		<table class="table table-striped">
			<thead>
				<tr>
					<td>ID</td>
					<td>Název</td>
					<td>Cena</td>
					<td></td>
					<td></td>
				</tr>
			</thead>
			<tbody>
				@foreach (var product in Model.Products)
				{
					<tr>
						<td>
							@product.ProductID
						</td>
						<td>
							@product.Name
						</td>
						<td>
							@product.Price.ToString("C2")
						</td>
						<td>
							@if (CurrentUser.Roles.HasFlag(UTB.EShop.Core.Models.Users.Roles.Manager))
							{
								<a href="@Url.Action("Edit", "Products", new {productID = product.ProductID})">
									<i class="glyphicon glyphicon-edit"></i>
								</a>
							}
						<td>
							<a href="@Url.Action("Delete", "Products", new {productID = product.ProductID})">
								<i class="glyphicon glyphicon-remove"></i>
							</a>
						</td>
					</tr>
				}
			</tbody>
		</table>
	</div>
	<div class="col-xs-12">
		@if (CurrentUser.Roles.HasFlag(UTB.EShop.Core.Models.Users.Roles.Admin))
		{
			@Html.ActionLink("Přidat", "Create", "Products", new { area = "Admin" }, new { @class = "btn btn-primary" })
		}
	</div>
</div>