﻿@using Microsoft.Ajax.Utilities
@using UTB.EShop.Core.Constants
@model UTB.EShop.Core.Models.Products.Product

<div class="thumbnail">
	<img src="@(Model.ImageUrl.IsNullOrWhiteSpace() ? Url.Content("~/Content/images/loremipsum.png") : Url.Content(Model.ImageUrl))" alt="Image" class="product-thumbnail">

	<div class="caption">
		<h3>@Model.Name</h3>
		<br />
		<p>
			@Html.ActionLink("Detail", "Detail", "Products", new { area = "Eshop", productID = Model.ProductID }, new { @class = "btn btn-default" })
		</p>
	</div>
</div>