﻿@model UTB.EShop.Web.Areas.Eshop.Models.ProductViewModel

@{
	ViewBag.Title = "Detail";
}

<div class="row">
	<div class="col-xs-12">
		<table class="table table-striped">
			<thead>
			<tr>
				<td>Název</td>
				<td>Cena</td>
				<td></td>
				<td></td>
			</tr>
			</thead>
			<tbody>
			<tr>
				@Html.HiddenFor(m => m.Product.ProductID)
				<td>
					@Model.Product.Name
				</td>
				<td>
					@Model.Product.Price.ToString("C2")
				</td>
				<td>
					<div class="form-group">
						<button id="btn-add-to-cart" type="button" class="btn btn-primary">Přidat do košíku</button>
					</div>
				</td>
				<td>
				</td>
			</tr>
			</tbody>
		</table>
	</div>
</div>

@section scripts {
	<script type="text/javascript">
		$(document).ready(function() {
			$('#btn-add-to-cart').click(function() {
				var productID = parseInt($('#Product_ProductID').val());

				$.ajax({
					url: '@Url.Action("AddToCart", "Cart", new { area = "Eshop" })',
					type: 'POST',
					data: { productID: productID, amount: 1 },
					success: function (data) {
						alert('Přidáno do košíku!');
						window.location.href = '/Eshop/Cart/';
					},
					error: function() {
						alert('Při přidávání do košíku nastala chyba!');
					}
				});
			});
		});
	</script>
}