﻿@model UTB.EShop.Web.Areas.Eshop.Models.ProductsViewModel

@{
	ViewBag.Title = "Index";
}

<div class="row">
	@foreach (var product in Model.Products)
	{
		<div class="col-md-4 col-xs-6">
			@Html.Partial("_ProductThumbnail", product)
		</div>
	}
</div>