﻿@model UTB.EShop.Web.Areas.Admin.Models.SecurityViewModel

@{
	ViewBag.Title = "Login";
}

<div class="row">
	@using (Html.BeginForm("Login", "Security", new { area = "Admin" }, FormMethod.Post, new { @class = "form-horizontal" }))
	{
		<div class="form-group">
			@Html.LabelFor(m => m.Login, "Login", new { @class = "col-xs-2 control-label" })
			<div class="col-xs-10">
				@Html.TextBoxFor(m => m.Login, new { @class = "form-control" })
			</div>
		</div>

		<div class="form-group">
			@Html.LabelFor(m => m.Password, "Heslo", new { @class = "col-xs-2 control-label" })
			<div class="col-xs-10">
				@Html.TextBoxFor(m => m.Password, new { @class = "form-control", type = "password" })
			</div>
		</div>

		if (Model.ErrorMessage != null)
		{
			<span class="text-danger">@Model.ErrorMessage</span>
		}

		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-10">
				<button type="submit" class="btn btn-default">Přihlásit</button>
			</div>
		</div>
	}
</div>