﻿body {
	padding-top: 50px;
	padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
	padding-top: 15px;
	padding-left: 15px;
	padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
	white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
	max-width: 280px;
}

/* .Web.App.UI.HtmlExtensions */
.navbar-inverse .navbar-nav > li > a {
	font-size: 18px;
}
.navbar-inverse .navbar-nav > li > a.active {
	color: gold;
}

img.product-thumbnail {
	width:300px;
	height:300px;
	object-fit: contain;
}

.nadpis-h1-web {
	margin-top: -20px;
}

/* Validation - Step1,2,3 */
.required:after {
	content: ' *';
	color: red;
}